//Police
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&family=Roboto+Condensed&display=swap');

$font-text : "League Spartan";

//Colors
$brown : #643F1D;
$gold : #EEAB00;
$green : #99B800;
$lightBrown : #8C592A; 
$darkBrown : #4A2B0F;
$darkGreen : #447A00;