<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Bob le Bricoleur</title>
      <link rel="stylesheet" href="style.css"/>
      <link rel="shortcut icon" type="image/gif" href="img/house.png"/>

   </head>
   
   <body>
   <h1>Inscription</h1>
   <br>
   <form action="#" th:action="@{/new_connexion}" method="post">
	   <button id="connexion" type="submit">Connexion</button>
   </form>
	<br>
   <form action="#" th:action="@{/partie}" th:object="${personnage}" method="post">
	
		<label for='mail'>Mail</label><br>
  		<input type='email' name='mail' id='mail' th:field="*{mail}"><br>
      <br>
	 	<label for='password'>Mot de passe </label><br>
  		<input type='password' name='password' id='password' th:field="*{password}"><br>
      <br>
      <label for='name'>Nom de votre personnage</label><br>
  		<input type='text' name='name' id='name' th:field="*{name}"><br>

      <input type="radio" id="feminin" name="sexe" value="2" th:field="*{sexe}">
      <label for="feminin">Féminin</label>
      <br>

      <input type="radio" id="masculin" name="sexe" value="1" th:field="*{sexe}">
      <label for="masculin">Masculin</label>
      <br><br>
      <div id="choixA">
         <p>Avatar</p>
         <div id="avatar">
            <span>
               <input type="radio" id="femme" name="avatar" value="2">
               <label for="femme">
                  <img src="img/femme.png" alt="avatar femme">
               </label>   
            </span>
            <span>
               <input type="radio" id="masculin" name="avatar" value="1">
               <label for="masculin">
                  <img src="img/homme.png" alt="avatar homme">
               </label>
            </span>
         </div>
      </div>
      <br>
      <br>
  		<button type='submit'>C'est parti !</button>
  		
	</form>
   </body>
</html>