<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Bob le Bricoleur</title>
      <link rel="stylesheet" href="style.css"/>
   </head>
   
   <body>
   <h1>Inscription</h1>
   <br>
	<a href="connexion.html">Connexion</a>
	<br><br>
   <form action="#" th:action="@{/inscription}" th:object="${personnage}" method="post">
	
		<label for='mail'>Mail</label><br>
  		<input type='email' name='mail' id='mail' th:field="*{mail}"><br>
      <br>
	 	<label for='password'>Mot de passe </label><br>
  		<input type='password' name='password' id='password' th:field="*{password}"><br>
      <br>
      <label for='name'>Nom de votre personnage</label><br>
  		<input type='text' name='name' id='name' th:field="*{name}"><br>

      <input type="radio" id="feminin" name="sexe" value="2" th:field="*{sexe}">
      <label for="feminin">Féminin</label>
      <br>

      <input type="radio" id="masculin" name="sexe" value="1" th:field="*{sexe}">
      <label for="masculin">Masculin</label>
      <br><br>
      <div>
         <p>Avatar</p>
         <img src="img/femme.png" alt="avatar femme">
         <img src="img/homme.png" alt="avatar femme">
      </div>
      <br>
      <br>
  		<button type='submit'>C'est parti !</button>
  		
	</form>
   </body>
</html>