<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bob le Bricoleur</title>
<link rel="stylesheet" href="style.css"/>
<link rel="icon" type="image/gif" href="img/house.png"/>
</head>
<body>
    <!-- <div class="container" >
        <p th:text="${ressource.nom}"></p>
    </div> -->
    <form th:action="${/recolte}" action="#" method="post" th:object="${dto}">
        <input type="input" name="id" value="8" />
        <input type="input" name="pv" value="15" />
        <input type="submit" value="Arbre" />

    </form>
</body>
</html>