<!-- <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Bob le Bricoleur</title>
      <link rel="stylesheet" href="style.css"/>
      <link rel="icon" type="image/gif" href="img/house.png"/>
   </head>
   
   <body>
      <h1>
         <form action="#" th:action="@{/go_home5}" method="post" id="flogo">
            <button id="btnlogo" type="submit"><img src="img/house.png" alt="house" class="imgHome" id="logo"></button>
         </form>
         <span>Compte</span>
      </h1>
   <br>
   <form action="#" th:action="@{/accueil_connexion}" method="post">
	<button id="deconnexion" type="submit">Déconnexion</button>
   </form>
	<br>


   <div>
		<h2>Bienvenue <span th:text="${personnage.name}">inconnu</span></h2>
         <div id="infosP">
               <p id="perso">Votre personnage :</p>
               <p th:text="${personnage.mail}">Mail inconnu</p>
               <p th:if="${personnage.sexe == 1}">Sexe masculin</p>
               <p th:if="${personnage.sexe == 2}">Sexe féminin</p>
               <div th:if="${personnage.sexe == 1}">
                  <img src="img/homme.png" alt="">
               </div>
               <div th:if="${personnage.sexe == 2}">
                  <img src="img/femme.png" alt="">
               </div>
         </div>
         <br>
         <div id="play_game">
            <form action="#" th:action="@{/gestion_compte}" method="post">
               <button id="gestion" type="submit">Gérer mon compte</button>
            </form>
            <form action="#" th:action="@{/play_game}" method="post">
               <button id="gestion" type="submit">Jouer</button>
            </form>
         </div>
   
   </div>
   </body>
</html> -->